@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter {
    font-family: "Inter", sans-serif;                                             
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


.primary-color{
    color: white;
}
.secondary-color{
    color: #8B8B8B;
}

.background-color{
    background-color: rgb(0, 0, 0);
}

header{
    background-image: linear-gradient(to top, #000000, #232323, #000000);
}

*{
    margin: 0px;
    padding: 0px;
    width: auto;
    font-family: Inter;
}
/* nav-bar */
.menu-list{
    border-color: #323232;
    border-style: solid;
    border-width: .5px;
    padding: 3px 25px 3px 3px;
    border-radius: 46px;
}
.header-menu-container{
    padding: 57px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section h1{
    font-style: italic;
    color: #E6533C;
    font-weight: 850;
    font-size: 36px;
}

.menu-section ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.margin{
    margin-left: 47px;
    font-size: 18px;
    cursor: pointer;
}

.menu-list button{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

@media only screen and (max-width: 576px){
    .header-menu-container{
        padding: 52px 20px;
    }
    .menu-section ul{
        display: none;
    }
    .hambarger-menu{
        width: 22px;
        height: auto;
    }
    .bar{
        display: block;
        background: #ffffff;
        height: 2px;
        margin-bottom: 2px;
        border-radius: 50px;
    }
}
/* hero section */
.hero-section{
    padding: 0px 190px;
}
.hero-section-container{
    display: flex;
    width: 100%;
}
.hero-text-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}
.hero-text-section h1{
    font-size: 75px;
    line-height: 85px;
    font-weight: 800;
}
.hero-text-section h1 span{
    font-family: 'Miama', sans-serif;
    font-weight: 100;
    font-size: 140px;
}
.hero-text-section p{
    margin-top: 28px;
    font-size: 16px;
}
.button-section{
    margin: 20px 0px;
}

.button1{
    background-color: #E6533C;
    color: white;
    padding: 16px 46px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    margin-right: 10px;
}

.button2{
    background-color: transparent;
    color: white;
    padding: 16px 46px;
    border-radius: 42px;
    border: solid;
    border-width: 1px;
    font-size: 18px;
    border-color: white;
}
.hero-image-section{
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    justify-content: right;
    width: 60%;
    padding: 100px 0px;
}

.fluid_initial_play{
    margin-top: 14px;
    margin-right: 10px;
    background-color: #E6533C;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.fluid_initial_play_button {
    margin-top: -24px;
    margin-left: 13px;
    border-style: solid;
    border-width: 6px 0 6px 12px;
    border-color: transparent transparent transparent #ffffff;
}
.video-section{
    margin-top: 300px;
    margin-right: 80px;
    padding: 10px 23px;
    display: flex;
    height: 60px;
    border-radius: 16px;
    background-color: rgb(48, 48, 48, 54%);
}
.video-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.video-text h3{
    font-size: 24px;
}
.video-text p{
    font-size: 16px;
}

.video2-section{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 65px;
    margin-right: -50px;
    padding: 12px 30px;
    height: 60px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255, 10%);
}
.video2-text{
    flex-direction: column;
    justify-content: center;
    color: white;
}
.video2-text h3{
    font-size: 40px;
}
.video2-text p{
    font-size: 13px;
}

@media only screen and (max-width: 576px){
    .hero-section{
        padding: 20px;
    }
    .hero-section-container{
        flex-direction: column;
    }
    .hero-text-section{
        width:100%;
    }
    .hero-image-section{
        width: 100%;
    }
    .hero-text-section h1{
        font-size: 36px;
        line-height: 42px;
    }
    .hero-text-section h1 span{
        font-size: 70px;
    }
    .hero-text-section p{
        padding-right: 85px;
    }
    .button-section button span{
        display: none;
    }
    .button1{
        padding: 16px 41.5px;
    }
    
    .button2{
        padding: 16px 20.5px;
    }
    .hero-image-section{
        height: 400px;
        background-size: contain;
        background-position: center;
        justify-content: center;

    }
    .video-section{
        margin-top: 170px;
        margin-right: 20px;
        padding: 0px 23px;
    }
    .video2-section{
        margin-top: -50px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 20px;
    }
    .video-text h3 {
        font-size: 17px;
    }
    .video-text p {
        font-size: 9px;
    }
    .video2-text h3 {
        font-size: 26px;
    }
    .video2-text p {
        font-size: 9px;
    }

}

/* habit section */
.habit-section{
    width: auto;
    margin: 100px 198px;
}
.habit-text-section{
    margin: 0px 230px;
}
.habit-text-section h1{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
}
.habit-text-section p{
    padding: 14px;
    font-size: 14px;
    text-align: center;
}

.habit-type-section{
    display: flex;
    justify-content: center;
}

.habit-type-section img{
    border-radius: 180px;
    margin-bottom: 30px;
}

.habit-type-contener{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    margin-top: 58px;
}
.habit-type-contener p{
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

@media only screen and (max-width: 576px){
    .habit-section{
        margin: 0px 38px;
    }
    .habit-text-section{
        margin: 0px;
    }
    .habit-text-section h1{
        font-size: 32px;
    }
    .habit-type-section{
        flex-direction: column;
    }
    .habit-type-contener{
        padding: 0px 53.5px;
    }
    
}

.promo-sevtion{
    display: flex;
    align-items: center;
    margin: 0px 190px;
    background-color: #222222;
    border-radius: 18px;
}
.promo-text-section{
    width: 50%;
    margin: 54px 40px;
}
.promo-text-section h1{
    font-weight: 800;
    font-size: 48px;
}
.promo-text-section p{
    font-size: 14px;
    margin-top: 14px;
    padding-right: 140px ;
}
.promo-text-section button{
    padding: 16px 71.5px;
    margin-top: 34px;
}
.promo-image-section{
    width: 50%;
    margin: 30px 32px;
}

.promo-image{
    background-image: url(../images/run.jpg);
    padding: 180px 0px;
    margin-left: 80px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position-x: 68%;
    background-position-y: 32%;
}

@media only screen and (max-width: 576px){
    .promo-sevtion{
        flex-direction: column;
        margin: 50px 20px;
        padding: 0px 33px 21px 33px;
    }
    .promo-text-section{
        width: 100%;
    }
    .promo-text-section h1{
        margin-top: -20px;
        font-size: 32px;
    }
    .promo-text-section p{
        font-size: 14px;
        margin-top: 14px;
        padding-right: 0px;
    }
    .promo-image-section{
        width: 100%;
        margin: 10px 0px;
    }
    
    .promo-image{
        background-image: url(../images/run.jpg);
        padding: 100px 0px;
        margin-left: 0px;
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 80%;
        background-position-y: 0%;
    }
    .promo-text-section button{
        padding: 16px 101px;
        margin-top: 34px;
    }
}

.training-section{
    margin: 100px 190px;
}
.text-section{
    width: 55%;
}
.text-section h1{
    font-size: 48px;
}
.text-section p{
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 48px;
}
.tab-image-section{
    width: 100%;
}

.first-tab-image, .second-tab-image{
    display: flex;
    height: 200px;
}
.image1 span, .image2 span, .image3 span, .image4 span, .image5 span, .image6 span{
    font-size: 14px;
    padding: 27px;
    width: calc(100% - (27px + 27px));
    height: calc(100% - (27px + 27px));
    display: flex;
}
.image1{
    background-image: url(../images/exercise1.jpg), linear-gradient(to top, #000000, #232323, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
}
.image1 span{
    background-color: rgb(6, 255, 210, 50%);
    flex-direction: column-reverse;
}
.image2{
    background-image: url(../images/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45%;
}
.image2 span{
    background-color: rgb(255, 0, 0, 30%);
}

.image3{
    background-image: url(../images/exercise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
}
.image3 span{
    background-color: rgb(0, 0, 0, 50%);
    flex-direction: column-reverse;
}

.image4{
    background-image: url(../images/exercise4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;
}
.image4 span{
    background-color: rgb(0, 0, 0, 50%);
    flex-direction: row-reverse;
}

.image5{
    background-image: url(../images/exercise5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
}
.image5 span{
    background-color: rgb(66, 255, 0, 30%);
    flex-direction: column-reverse;
}

.image6{
    background-image: url(../images/exercise6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 35%;
}
.image6 span{
    background-color: rgb(0, 71, 255, 30%);
    flex-direction: column-reverse;
}
@media only screen and (max-width: 576px){
    .first-tab-image, .second-tab-image{
        height: 140px;
    }
    .text-section{
        width: 80%;
    }
    .text-section h1{
        font-size: 32px;
    }
    .image3, .image6{
        display: none;
    }
    .image1{
        width: 50%;
    }
    .image2{
        width: 50%;
        background-position-x: 60%;
        background-position-y: 20%;
    }
    .training-section{
        margin: 20px;
    }
    .image4{
        width: 45%;
    }
    .image5{
        width: 55%;
    }
}

.bmi-text-section{
    display: flex;
    flex-direction: column;
    margin: 80px 270px;
    align-items: center;
}

.bmi-text-section-contener h1{
    font-size: 48px;
    margin-bottom: 14px;
}
.bmi-text-section-contener p{
    font-size: 14px;
}

@media only screen and (max-width: 576px){
    .bmi-text-section{
        margin: 30px 0px 0px 0px;
    }
    .bmi-text-section-contener{
        margin-right: 50px;
    }
    .bmi-text-section-contener h1{
        font-size: 32px;
    }
}

.bmi-section{
    display: flex;
    padding: 49px 190px;
    width: calc(100% - (190px + 190px));
    background-color: #222222;
}
.bmi-chart{
    width: 50%;
}

table{
    border-collapse: collapse;
}
th, td {
    border: 1px solid rgb(255, 255, 255, 10%);
    padding: 13px 18px;
    color: rgb(255, 255, 255, 50%);
    font-size: 14px;
    text-align: left;
}
.input-section1, .input-section2{
    display: flex;
}
.input-section1 input, .input-section2 input{
    padding: 13px 20px;
    margin: 6px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 10%);
    border-style: none;
    color: rgb(255, 255, 255, 60%);
} 
.input-section1 input{
    width: 50%;
}

.input-section2 input{
    width: 100%;
}
.calculate-bmi h1{
    margin-bottom: 14px;
}
.calculate-bmi p{
    margin-bottom: 34px;
}
.calculate-bmi{
    width: 50%;
}
.bmi-chart h3{
    font-size: 28px;
    margin-bottom: 52px;
}
@media only screen and (max-width: 576px){
    .bmi-section{
        flex-direction: column;
        margin-top: 30px;
        padding: 20px 0px 43px 0px;
        width: 100%;
    }
    .bmi-chart {
        width: calc(100% - 20px);
        margin: 20px;
    }
    .bmi-chart h3{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .calculate-bmi {
        width: calc(100% - 40px);
        margin: 20px;
    }
    .calculate-bmi h1{
        font-size: 16px;
    }
    .calculate-bmi p{
        font-size: 14px;
        padding-right: 50px;
    }
    .input-section1 input{
        width: calc(50%);
    }
    
    .input-section2 input{
        width: calc(100%);
    }
}

.team-section{
    margin: 88px 190px;
}
.team-text-section{
    padding: 0px 265px 58px;
}
.team-text-section h1{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.team-text-section p{
    text-align: center;
    font-size: 14px;
}

.tab-trainer-section{
    background-color: rgb(255, 255, 255, 10%);
    border-radius: 18px;
}

.trainer-image-section{
    display: flex;
    height: 325px;
}
.trainer1 span, .trainer2 span, .trainer3 span, .trainer4 span, .trainer5 span, .trainer6 span{
    font-size: 14px;
    padding: 27px;
    width: calc(100% - (27px + 27px));
    height: calc(100% - (27px + 27px));
    display: flex;
    background-color: rgb(0, 0, 0, 30%);
    flex-direction: column-reverse;
    border-radius: 18px;
}
.trainer1{
    background-image: url(../images/trainer1.png);
}

.trainer2{
    background-image: url(../images/trainer2.png);
}

.trainer3{
    background-image: url(../images/trainer3.png);
}

.trainer4{
    background-image: url(../images/trainer4.png);
}

.trainer5{
    background-image: url(../images/trainer5.png);
}

.trainer6{
    background-image: url(../images/trainer6.png);
}

.trainer1, .trainer2, .trainer3, .trainer4, .trainer5, .trainer6{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(100% / 3);
    margin: 10px;
    border-radius: 18px;
}
.trainer1 span h3, .trainer2 span h3, .trainer3 span h3, .trainer4 span h3, .trainer5 span h3, .trainer6 span h3{
    font-size: 20px;
}

@media only screen and (max-width: 576px) {
    
    .team-section{
        margin: 0px;
    }
    .tab-trainer-section{
        padding: 10px 20px;
        margin: 0px 20px;
    }
    .team-text-section{
        margin: 40px 45px;
    }
    .team-text-section h1{
        font-size: 32px;
        margin: 14px 0px;
    }
    .trainer1, .trainer4{
        display: none;
    }
    .team-text-section{
        padding: 0px;
    }
    .trainer-image-section{
        flex-direction: column;
        height: auto;
    }
    .trainer1, .trainer2, .trainer3, .trainer4, .trainer5, .trainer6{
        width: 100%;
        margin: 10px 0px;
    }
    .trainer1 span, .trainer2 span, .trainer3 span, .trainer4 span, .trainer5 span, .trainer6 span{
        padding-top: 210px;
    }

}
footer{
    background-color: rgb(255, 255, 255, 10%);
}
.main-footer{
    display: flex;
    padding: 66px 190px;
    width: calc(100% - (190px + 190px));
}
.logo-discription-section{
    width: 50%;
    padding-right: 300px;
    margin-top: 20px;
}
.logo-section-footer h1{
    font-size: 70px;
}
.logo-discription-section p{
    font-size: 14px;
}
.menu1-section, .menu2-section{
    width: 25%;
}
.menu2-section{
    display: flex;
    justify-content: end;
}
.menu1-section h3, .menu2-section h3{
    margin-bottom: 40px;
    font-size: 32px;
}
.menu1-section ul li, .menu2-section ul li{
    margin-bottom: 20px;
    font-size: 23px;
}
.menu1-section ul, .menu2-section ul{
    list-style: none;
}

@media only screen and (max-width: 576px){
    .main-footer{
        flex-direction: column;
        padding: 0px;
        margin: 20px ;
        width: 80%;
    }
    .logo-section-footer{
        margin-top: 90px;
    }
    .logo-section-footer h1{
        font-size: 70px;
    }
    .logo-discription-section{
        width: 100%;
        padding-right: 0px;
    }
    .logo-discription-section p{
        margin: 20px 0px 40px;
    }
    .menu1-section, .menu2-section{
        width: 100%;
    }
    .menu2-section{
        display: inline;
    }
    .menu1-section h3, .menu2-section h3{
        margin-bottom: 40px;
    }
    .menu1-section ul li, .menu2-section ul li{
        margin-bottom: 20px;
    }
    .menu1-section ul, .menu2-section ul{
        list-style: none;
    }
    
}

.property-section{
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #323232;
    margin: 0px 190px;
}
.property-text-section{
    padding: 35px 0px;
    text-align: center;
}
@media only screen and (max-width: 576px){
    .property-section{
        border-style: solid;
        border-width: 2px 0px 0px 0px;
        border-color: #323232;
        margin: 0px 20px;
    }
    .property-text-section{
        padding: 35px 0px;
        text-align: center;
    }
}

.member-section{
    display: flex;
    margin: 0px 190px;
}
.member-text-section{
    width: 50%;
}
.member-image-section{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.member-text-section p{
    margin: 10px 0px;
}
.member-text-section h1{
    font-size: 70px;
}
.review-section{
    display: flex;
    margin: 30px 190px 120px;
}
.review{
    margin: 20px;
    padding: 80px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 18px;
}
.review:hover{
    border-color: #E6533C;
}
.review i{
    margin: 10px;
}
.review p{
    margin: 10px;
    font-style: italic;
}

@media only screen and (max-width: 576px){
    .member-section{
        display: flex;
        flex-direction: column;
        margin: 40px;
    }
    .member-text-section{
        width: 100%;
    }
    .member-text-section h1{
        font-size: 36px;
    }
    .member-image-section{
        display: none;
    }
    .review-section{
        flex-direction: column;
        margin: 30px 20px 120px;
    }
}